@{
    ViewData["Title"] = "Settings";
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to configure your report.</p>
<p>
    <a asp-action="PostAddressToDb" asp-controller="Home" asp-antiforgery="true">Add new address</a>
</p>